/* Give your page a fun background color */
body{
    background-color: antiquewhite;
}
/* Make the header and footer a different color from the background */
header{
   background-color: brown;
}

footer{
    
   background-color: rgb(16, 69, 116);
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;

}
/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: aliceblue;
}
/* Put a border around your image */
img{
    height: 10cm;
    width: 10cm;
    border: 5px solid;
}
/* Change the font-family of your list */

ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}